template(name="roomList")

  h3 Create a room

  form.create-room.input-group
    input.form-control.room-name(type="text" placeholder="New room name")
    span.input-group-btn
      input.btn.btn-default(type="submit" value="Create")

  h3 Rooms

  if rooms.count
    .list-group
      each rooms
        a.list-group-item(href="/room/#{_id}" title=name data-id=_id) #{name}
          .badge #{user_count} users
  else
    span No rooms available
