template(name="room")

    h3 #{roomName}

    label Who's in this room:
    #users
      each roomUsers
        span(class='label label-default #{state}') #{data.username}

    form.create-message.input-group
      input.form-control.message(placeholder="New message")
      span.input-group-btn
        input.btn.btn-default(type="submit" value="Send")

    #messages-container.well
      if messages.count
        if messages
          each messages
            .message
              label.username #{username}:
              span.content #{content}
      else
        .message No messages yet
